
<!--Extend from base html-->
{% extends 'base.html' %}

<!--Include Flash Messages-->
{% include 'messages.html' %} 


<!-- Page Title -->
{% block title %}
RMS - Building List
{% endblock %}



<!-- Page Heading -->
{%block header %}
    <span class="border-bottom-primary">Amenity List</span>
{%endblock%} 

<!-- Begin Page Content -->
{% block content %}

<div class="container-fluid">
  <p class="mb-4">
    This shows a list of all buildings created in the system.

  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All Buildings</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </tfoot>
          <tbody>
            {% for building in building_list %}
            <tr>
              <td>{{building.name}}</td>
              <td>{{building.location}}</td>
              <td >
                {% comment %} <a href="{% url 'create_amenity' %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'create_amenity' %}" class="btn btn-danger btn-sm">Delete</a> {% endcomment %}
                <div class="btn-group" role="group" aria-label="Basic example" >
                    <a href="{% url 'building-detail' building.id %}"><button type="button" class="btn btn-primary mr-1"><i class="far fa-eye"></i></button></a>
                    <a href="{% url 'update-building' building.id %}"><button type="button" class="btn btn-success mr-1"><i class="fas fa-edit"></i></button></a>
                    <a href="{% url 'delete-building' building.id %}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>
                </div>
            </td>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock%}