{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% comment %} Page Title {% endcomment %}
{% block title %}
RMS - Create Lease Template
{% endblock %}

{% comment %} Page Header {% endcomment %}
{%block header %}
    <span class="border-bottom-primary">Create Lease Template</span>
{%endblock%}



{% block content %}

<div class="container">

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form action="" method="post">{% csrf_token %}
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" value="{% trans "submit" %}"/>
</form>

</div>
{% endblock %}



