{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard_statics/vendor/fontawesome-free/css/all.min.css" rel="stylesheet' %}" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard_statics/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-success">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account Type!</h1>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name"> -->
                                            {{form.first_name| as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name"> -->
                                            {{form.last_name| as_crispy_field }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <!-- <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name"> -->
                                            {{form.phone| as_crispy_field }}
                                    </div>
                                    <div class="col-sm-6">
                                        <!-- <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Last Name"> -->
                                            {{form.email| as_crispy_field }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                      <!-- <input type="password" class="form-control form-control-user"
                                          id="exampleInputPassword" placeholder="Password"> -->
                                          {{form.password1 | as_crispy_field }}
                                  </div>
                                  <div class="col-sm-6">
                                      <!-- <input type="password" class="form-control form-control-user"
                                          id="exampleRepeatPassword" placeholder="Repeat Password"> -->
                                          {{form.password2 | as_crispy_field }}
                                  </div>
                              </div>
                            

                                <!-- Card Body -->
                                <div class="card-body border-left-success" >
                                  Select the account that suits you the best. Every account has different set of tools.
                              </div>
                             
                                <div class="form-group">
                                    <!-- <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Select Account</option>
                                        <option>Landlord - Accept rent online & manage rentals</option>
                                        <option>Tenant - Find a place & pay rent online </option>
                                        <option>Service PRO - Manage request from landlords & find new jobs</option>
                                    </select> -->
                                    {{form.role_type | as_crispy_field }}
                                <hr>

                                <button class="btn btn-success btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>

                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgot-password' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard_statics/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'dashboard_statics/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dashboard_staticsvendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard_statics/js/sb-admin-2.min.js'%}"></script>

</body>

</html>