{% extends 'base.html' %}
{% load static %}


{%block header %}
    <span class="border-bottom-primary">Welcome to RMS</span>
{%endblock%}

{% block content %}
<!-- Content Row -->
<div class="row">

    <div class="col-lg-6 mb-4">
      <!-- Illustrations -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Let's get started</h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img
              class="img-fluid px-3 px-sm-4 mt-3 mb-4"
              style="width: 25rem"
              src="{% static 'dashboard_statics/img/undraw_posting_photo.svg'%}" alt="logo"/>
          </div>
          <p>
            Managing your rental business with RMS sarts with adding your first property. You can add more units later on.
          </p>
          <a target="_blank" rel="nofollow" href="https://undraw.co/"
            >Add My Property Now &rarr;</a
          >
        </div>
      </div>
    </div>
  </div> 
  
{% endblock %}